.nav-link{
    color:rgb(226, 206, 28);
}
.nav-link:hover{
    color:white;
}
.button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;

}